{% extends "::base.html.twig" %}

{% block title %}AppGameBundle:Iframe:index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    <style>
    #gameContent {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
    #userId {float: right;}
    #reportErrorBtn {display: block; float: right; color: #333; margin-right: 15px; text-decoration: underline;}
    #reportErrorBtn:hover {text-decoration: none;}
    </style>
{% endblock %}
{% block jssrc %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript" src="{{asset('js/magic.js')}}?{{VERSION}}"></script>
    <script>
        function getFlashVars()
        {
            var flashVars = initVars(
                '{{SOCIAL_NETWORK}}',
                '{{HOST}}',
                {{HTTP_SERVER_UNIXTIME}},
                {{SESSION}},
                '{{STATISTICS_SERVER}}',
                '{{VERSION}}',
                '{{GROUP_ID}}',
                {{TEST_MODE}},
                '{{CURRENT_LEVEL_ID}}',
                '{{SPLIT_ID}}'
            );

            flashVars['clientKey'] = '{{CLIENT_SECRET_KEY}}';

            return flashVars;
        }

        $(document).ready(function () {
            var flashVars = getFlashVars();

            sendStatistics({{HTTP_SERVER_UNIXTIME}}, '{{STATISTICS_SERVER}}', '{{SESSION}}', {{IS_REGISTER}}, flashVars['userId'], flashVars['viewerId'], '{{SPLIT_ID}}');

            initApi(flashVars, function() {
                initGame("//{{HOST}}/stat/RootLoader.swf" + '?' + flashVars['files_version'], flashVars);
                initNodeClient('{{NODE_SERVER_HOST}}', {{NODE_SERVER_PORT}}, flashVars['viewerId'], flashVars['authKey'], {});
            });

            $("#userId").text("Ваш id: " + flashVars["viewerId"]);
        });
    </script>
{% endblock %}
{% block body %}
    <div id="gameContent">
        <div id="game">
            {% include 'AppGameBundle:Iframe:update-flash.html.twig' %}
        </div>
    </div>
    <div id="toolbar">
        <div id="userId"></div>
        <a id="reportErrorBtn" href="{{REPORT_ERROR_LINK}}" target="_blank">Сообщить об ошибке</a>
    </div>
{% endblock %}
