{% extends "::base.html.twig" %}

{% block title %}AppGameBundle:Iframe:index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    <style>
    #gameContent {width: 900px; height: 572px; position: relative; border-top: transparent 1px solid; box-shadow: 0 -5px 10px rgba(0,0,0,0.5); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);}
    #toolbar {width: 890px; height: 35px; line-height: 30px; margin: 0 auto; padding: 5px 5px 0 5px; position: relative; border: #CCC 1px solid; border-top: none; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px;}
    #leftBg  {width: 50%; background: url(/img/left.jpg) no-repeat right top;}
    #rightBg {width: 50%; background: url(/img/right.jpg) no-repeat left top;}
    #leftBg, #rightBg {border-top: transparent 1px solid;}
    #userId {float: right;}
    #reportErrorBtn {display: block; float: right; color: #333; margin-right: 15px; text-decoration: underline;}
    #reportErrorBtn:hover {text-decoration: none;}
    </style>
{% endblock %}
{% block jssrc %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript" src="//cdn.connect.mail.ru/js/loader.js"></script>
    <script type="text/javascript" src="{{asset('js/magic.js')}}?{{VERSION}}"></script>
    <script>
        function getFlashVars()
        {
            var flashVars = initVars(
                '{{SOCIAL_NETWORK}}',
                '{{HOST}}',
                {{HTTP_SERVER_UNIXTIME}},
                {{SESSION}},
                '{{STATISTICS_SERVER}}',
                '{{VERSION}}',
                '{{GROUP_ID}}',
                {{TEST_MODE}},
                '{{CURRENT_LEVEL_ID}}',
                '{{SPLIT_ID}}'
            );

            flashVars['clientKey'] = '{{CLIENT_SECRET_KEY}}';
            flashVars['window_id'] = 'game';

            return flashVars;
        }

        $(document).ready(function () {
            var flashVars = getFlashVars();

            sendStatistics({{HTTP_SERVER_UNIXTIME}}, "{{STATISTICS_SERVER}}", "{{SESSION}}", {{IS_REGISTER}}, flashVars["referer_id"], flashVars["vid"], flashVars["referer_type"], '{{SPLIT_ID}}');

            initApi(flashVars, function() {
                initGame("//{{HOST}}/stat/RootLoader.swf" + "?" + flashVars["files_version"], flashVars);
                initNodeClient("{{NODE_SERVER_HOST}}", {{NODE_SERVER_PORT}}, flashVars["vid"], flashVars["authentication_key"], {sk: flashVars["session_key"]});
            });

            $("#userId").text("Ваш id: " + flashVars["vid"]);
        });
    </script>
{% endblock %}
{% block body %}
    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
    <tbody>
        <tr>
            <td id="leftBg"></td>
            <td>
                <div id="gameContent">
                    <div id="game">
                        {% include 'AppGameBundle:Iframe:update-flash.html.twig' %}
                    </div>
                </div>
            </td>
            <td id="rightBg"></td>
        </tr>
    </tbody>
    </table>
    <div id="toolbar">
        <div id="userId"></div>
        <a id="reportErrorBtn" href="{{REPORT_ERROR_LINK}}" target="_blank">Сообщить об ошибке</a>
    </div>
{% endblock %}
