{% extends "::base.html.twig" %}

{% block title %}AppGameBundle:Iframe:technicalWorks{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}" />
{% endblock %}

{% block body %}
    <div id="technicalWorks"></div>
{% endblock %}
