{% extends "::base.html.twig" %}

{% block title %}AppGameBundle:Iframe:index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    <style>
    #gameContent {width: 100%; height: 100%; position: absolute; top: 0; left: 0; box-shadow: 0 0 10px rgba(0,0,0,0.5);}
    #toolbar {width: 100%; position: absolute; bottom: 3px;}
    #vk_like {float: left; width: 180px; height: 22px;}
    #vk_share {float: left; width: 20% !important; height: 22px;}
    #vk_subscribe {float: left; width: 26% !important; height: 22px;}
    #user_id {float: right; margin-right: 5px;}
    #reportErrorBtn {display: block; float: right; background-color: #EDF2F6; border: #ADBCCB 1px solid; color: #2F5879; font-size: 11px; font-family: tahoma,arial,verdana,sans-serif,Lucida Sans; padding: 4px 7px 1px 7px; margin-right: 15px; text-decoration: none;}
    </style>
{% endblock %}
{% block jssrc %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript" src="//vk.com/js/api/xd_connection.js?2"></script>
    <script type="text/javascript" src="//vk.com/js/api/share.js?90" charset="windows-1251"></script>
    <script type="text/javascript" src="{{asset('js/magic.js')}}?{{VERSION}}"></script>
    <script>
        function getFlashVars()
        {
            var flashVars = initVars(
                '{{SOCIAL_NETWORK}}',
                '{{HOST}}',
                {{HTTP_SERVER_UNIXTIME}},
                {{SESSION}},
                '{{STATISTICS_SERVER}}',
                '{{VERSION}}',
                '{{GROUP_ID}}',
                {{TEST_MODE}},
                '{{CURRENT_LEVEL_ID}}',
                '{{SPLIT_ID}}'
            );

            return flashVars;
        }

        $(document).ready(function () {
            var flashVars = getFlashVars();

            sendStatistics({{HTTP_SERVER_UNIXTIME}}, '{{STATISTICS_SERVER}}', '{{SESSION}}', {{IS_REGISTER}}, flashVars['user_id'], flashVars['viewer_id'], flashVars['referrer'], flashVars['request_key'], '{{SPLIT_ID}}');
            {% if IS_OFFER %}
            sendStatisticsOffer({{HTTP_SERVER_UNIXTIME}}, flashVars['viewer_id'], '{{STATISTICS_SERVER}}', {{SESSION}}, '{{VK_SID}}', '{{VK_LEAD_ID}}', '{{VK_HASH}}');
            {% endif %}

            initApi(function() {
                initGame("//{{HOST}}/stat/RootLoader.swf" + '?' + flashVars['files_version'], flashVars);
                initNodeClient('{{NODE_SERVER_HOST}}', {{NODE_SERVER_PORT}}, flashVars['viewer_id'], flashVars['auth_key'], {});
            });

            $("#user_id").text("Ваш id: " + flashVars["viewer_id"]);
        });
    </script>
{% endblock %}
{% block body %}
    <div id="gameContent">
        <div id="game">
            {% include 'AppGameBundle:Iframe:update-flash.html.twig' %}
        </div>
    </div>
    <div id="toolbar">
        <div id="vk_like"></div>
        <div id="vk_share"></div>
        <div id="vk_subscribe"></div>
        <div id="user_id"></div>
        <a id="reportErrorBtn" class="border-radius-3" href="{{REPORT_ERROR_LINK}}" target="_blank"><b>Сообщить об ошибке</b></a>
    </div>
{% endblock %}
