{% extends "::base.html.twig" %}

{% block title %}AppGameBundle:GameEditor:index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.4/themes/pepper-grinder/jquery-ui.css" />
    <style type="text/css">
        body {
            font: 12px/1.5em Arial, Helvetica, sans-serif;
        }
        #tabs {
            width: 640px;
            height: 720px;
        }
        .ui-dialog-titlebar {
             display: none;
        }
        .ui-widget-overlay {
            background: url("images/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x scroll 50% 50% #AAAAAA;
            opacity: 0.3;
        }
    </style>
{% endblock %}
{% block jssrc %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var userId   = "{{USER_ID}}";
        var progress = {{PROGRESS | raw}};
        var stages   = {{STAGES | raw}};
        var newProgress = {{PROGRESS | raw}};

        $(document).ready(function() {
            init();

            // Обработчик кнопки генерации нового прогресса прохождений.
            $("#btn-generate-progress").click(function() {
                var temp = [];

                breakOut = false;
                for (i = 0; i < stages.length; i++) {
                    if (typeof temp[i] == "undefined") {
                        temp[i] = [];
                    }

                    for (j = 0; j < stages[i]["missionsCount"]; j++) {
                        mission = (i + 1) + "_" + (j + 1);
                        if ($("#cbx-is-new-generate").prop("checked")) {
                            temp[i].push({
                                m: mission,
                                s: $("#txt-new-stars-counts").val(),
                                p: true
                            });
                        } else {
                            if (typeof progress[i] == "undefined" || typeof progress[i][j] == "undefined") {
                                temp[i].push({
                                    m: mission,
                                    s: $("#txt-new-stars-counts").val(),
                                    p: true
                                });
                            } else {
                                temp[i].push(progress[i][j]);
                            }
                        }

                        if (mission == $("#slt-mission-id option:selected").val()) {
                            breakOut = true;
                            break;
                        }
                    }
                    if (breakOut) {
                        break;
                    }
                }

                newProgress = temp;
                generateProgress(temp);
            });
        });

        /**
         * Генерирует прогресс прохождения уровня на форме
         * для его последующего редактирования перед сохранением.
         *
         * @returns {undefined}
         */
        function generateProgress(p)
        {
            var tmp = "";

            for (i = 0; i < p.length; i++) {
                data = "";
                data += "<div>";
                data += "<p><table><tbody><tr><td>";
                starsCount = 0;
                for (j in p[i]) {
                    if (j % 3 == 0)  {
                        data += "</td><td>";
                    }
                    data += "<div>" + p[i][j].m + ": <input type='text' id='m-" + i + "-" + j +"' value='" +  p[i][j].s + "' class='stars-count'></div>";
                    starsCount += parseInt(p[i][j].s, 10);
                }
                data += "</td></tr></tbody></table></p>";
                data += "</div>";

                tmp += "<h3>Остров " + (i + 1) + ": <span id='stars-" + i + "'>" + starsCount + "</span> / " + stages[i]["starsToUnlock"] + "</h3>" + data;
            }

            $("#progress").html('').append(tmp);
            $(".stars-count").attr("size", 1);
            $(".stars-count").spinner({
                min: 1,
                max: 3,
                spin: function(event, ui) {
                    var i = this.id.split("-")[1];
                    var l  = this.id.split("-")[2];
                    var starsCount = 0;

                    newProgress[i][l].s = ui.value;
                    for (j = 0; j < newProgress[i].length; j++) {
                        starsCount += parseInt(newProgress[i][j].s, 10);
                    }
                    $("#stars-" + i).html(starsCount);
                },
            });


            if ($("#progress").hasClass("ui-accordion")) {
                $("#progress").accordion("destroy");
            }
            $("#progress").accordion({
                heightStyle: "content",
                icons: {
                    header: "ui-icon-circle-arrow-e",
                    activeHeader: "ui-icon-circle-arrow-s"
                }
            });
        }

        /**
         * Инициализация формы.
         *
         * @returns {undefined}
         */
        function init()
        {
            $("#ajax-loader").dialog({
                autoOpen: false,
                closeOnEscape: false,
                modal: true,
                position: { my: "center", at: "center", of: tabs },
                width: "auto"
            });

            $("#tabs").tabs();
            $(".spinner").attr("size", 10).spinner({min: 0});

            $(".super-boost").click(function() {
                if ($(this).prop("checked")) {
                    $("#txt-"+ $(this).attr("id")).spinner("enable");
                } else {
                    $("#txt-"+ $(this).attr("id")).spinner("disable");
                }
            });

{% for boost in BOOSTS %}
            $("#{{boost}}").prop("checked", "checked");
{% endfor %}
            $("#txt-ingameExtraMoves").spinner("disable");
            $("#txt-ingameRadialBomb").spinner("disable");
            $("#txt-ingameChineseFirework").spinner("disable");
{% for key,value in SUPER_BOOSTS %}
            $("#{{key}}").prop("checked", "checked");
            $("#txt-{{key}}").spinner("enable");
            $("#txt-{{key}}").spinner("value", {{value}});
{% endfor %}

            for (i = 0; i < stages.length; i++) {
                for (j = 0; j < stages[i]["missionsCount"]; j++) {
                    mission = (i + 1) + "_" + (j + 1);
                    $("#slt-mission-id").append("<option id='" + mission + "'>" + mission + "</option>");
                }
            }

            if (progress.length > 0) {
                $("#slt-mission-id option[id='" + progress[progress.length - 1][progress[progress.length - 1].length - 1].m +"']").prop("selected", "selected");
            }
            $("#txt-new-stars-counts").attr("size", 1).spinner({min: 1, max: 3});
            generateProgress(progress);
        }

        /**
         * Слушатели на кнопки отправки данных на сервер.
         *
         * @returns {undefined}
         */
        $(function() {
            $(".btn-save").button({
                icons: {
                  primary: "ui-icon-disk"
                }
            });
            $(".btn-reset").button({
                icons: {
                  primary: "ui-icon-trash"
                }
            });

            $("#btn-lives").click(function(){
                send("/u/ul", { "data": '{"lv":' + $("#txt-lives").val() + '}' });
            });

            $("#btn-coins").click(function(){
                send("/c/s", { "coins": $("#txt-coins").val() });
            });

            $("#btn-jelly").click(function(){
                send("/u/pp", { "data": '{"s":' + $("#txt-jelly").val() + '}' });
            });

            $("#btn-boost").click(function(){
                var boost = "";
                var map = {
                    "colorBomb": "b5",
                    "chineseFirework": "b6",
                    "radialBomb": "b7",
                    "bomb": "b4"

                };
                var tutorial = {
                    "b5": false,
                    "b6": false,
                    "b7": false,
                    "b4": false
                };

                $.each($(".boost:checked"), function() {
                    boost += "," + $(this).attr("id");
                    tutorial[map[$(this).attr("id")]] = true;
                })

                send("/ge/ub", { "data": '{"ub":"' + boost + '"}' });
                send("/u/ts",  { "data": '{"ts":' + JSON.stringify(tutorial) + '}' });
            });

            $("#btn-super-boost").click(function(){
                var superBoost = {};
                var tutorial   = {
                    "c3": false,
                    "b3": false,
                    "b2": false
                };

                if ($("#ingameExtraMoves").prop("checked")) {
                    superBoost["ingameExtraMoves"] = $("#txt-ingameExtraMoves").spinner("value");
                    tutorial["c3"] = true;
                }
                if ($("#ingameRadialBomb").prop("checked")) {
                    superBoost["ingameRadialBomb"] = $("#txt-ingameRadialBomb").spinner("value");
                    tutorial["b3"] = true;
                }
                if ($("#ingameChineseFirework").prop("checked")) {
                    superBoost["ingameChineseFirework"] = $("#txt-ingameChineseFirework").spinner("value");
                    tutorial["b2"] = true;
                }

                send("/ge/ib", { "data": '{"ib":' + JSON.stringify(superBoost) + '}' });
                send("/u/ts",  { "data": '{"ts":' + JSON.stringify(tutorial) + '}' });
            });

            $("#btn-reset-spin").click(function(){
                send("/u/ts",  { "data": '{"ts":{"a1":true}}' });
            });

            $("#btn-reset-tutorial").click(function(){
                send("/ge/rt",  {});
            });

            $("#btn-reset-weekly").click(function(){
                send("/u/wc",  { "data": '{"m":0,"t":' + Math.floor((new Date).getTime() / 1000) + '}' });
            });

            $("#btn-reset-user").click(function(){
                send("/ge/ru",  {});
            });

            $("#btn-save-progress").click(function() {
                send("/ge/sp",  { "data": JSON.stringify(newProgress) });
            });

            $("#btn-reset-progress").click(function() {
                send("/ge/sp",  { "data": "[]" });
            });

            $("#reset-bought-transaction").click(function() {
                send("/ge/pt",  {});
            });

            $("#reset-send-gift").click(function() {
                send("/ge/sg",  {});
            });

            $("#save-social-quest-vk").click(function() {
                var mask = 0;
                if ($("#cbx-quest-complete").prop("checked")) {
                    mask |= 1;
                }
                if ($("#cbx-quest-invite").prop("checked")) {
                    mask |= 2;
                }
                if ($("#cbx-quest-shared").prop("checked")) {
                    mask |= 4;
                }
                if ($("#cbx-quest-like").prop("checked")) {
                    mask |= 8;
                }

                send("/ge/sq",  { "data": mask });
            });
        });

        /**
         * Отправка данных на сервер.
         *
         * @param {string} route    маршрут для запроса
         * @param {object} data     данные
         * @returns {undefined}
         */
        function send(route, data)
        {
            data["userId"] = userId;
            $("#ajax-loader").dialog("open");
            $.post(route, data, function(response) {
                if (typeof response == "string") {
                    response = $.parseJSON(response);
                }
                if (response.hasOwnProperty("response") && response["response"].hasOwnProperty("errorCode")) {
                    alert("Произошла ошибка на сервере. Код ошибки: " + response["response"]["errorCode"]);
                }
                $("#ajax-loader").dialog("close");
            });
        }
    </script>
{% endblock %}

{% block body %}
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Основное</a></li>
        <li><a href="#tabs-2">Прогресс</a></li>
        <li><a href="#tabs-3">Соц. параметры</a></li>
    </ul>
    <div id="tabs-1">
        <fieldset>
            <fieldset>
                <legend>[Ресурсы]</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>Сердечки:</td>
                            <td><input type="text" id="txt-lives" class="spinner" value="{{LIVES}}"></td>
                            <td><button id="btn-lives" class="btn-save">Сохранить</button></td>
                        </tr>
                        <tr>
                            <td>Монеты:</td>
                            <td><input type="text" id="txt-coins" class="spinner" value="{{COINS}}"></td>
                            <td><button id="btn-coins" class="btn-save">Сохранить</button></td>
                        </tr>
                        <tr>
                            <td>Мармелад:</td>
                            <td><input type="text" id="txt-jelly" class="spinner" value="{{JELLY}}"></td>
                            <td><button id="btn-jelly" class="btn-save">Сохранить</button></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>[Доступные бустеры]</legend>
                <div><input type="checkbox" id="colorBomb" class="boost"><label for="colorBomb">Цветная бомба</label></div>
                <div><input type="checkbox" id="chineseFirework" class="boost"><label for="chineseFirework">Фейерверк</label></div>
                <div><input type="checkbox" id="radialBomb" class="boost"><label for="radialBomb">Бомба</label><div>
                <div><input type="checkbox" id="bomb" class="boost"><label for="bomb">Ракеты</label></div>
                <div><button id="btn-boost" class="btn-save">Сохранить</button></div>
            </fieldset>
            <fieldset>
                <legend>[Супер бустеры]</legend>
                <table>
                    <tbody>
                      <tr>
                          <td><input type="checkbox" id="ingameExtraMoves" class="super-boost" /><label for="ingameExtraMoves">+10 доп. ходов:</label></td><td><input type="text" id="txt-ingameExtraMoves" class="spinner" value="0" /></td>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="ingameRadialBomb" class="super-boost" /><label for="ingameRadialBomb">Супер Бомба:</label></td><td><input type="text" id="txt-ingameRadialBomb" class="spinner" value="0" /></td>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="ingameChineseFirework" class="super-boost" /><label for="ingameChineseFirework">Супер Фейерверк:</label></td><td><input type="text" id="txt-ingameChineseFirework" class="spinner" value="0" /></td>
                      </tr>
                      <tr>
                          <td><button id="btn-super-boost" class="btn-save">Сохранить</button></td><td></td>
                      </tr>
                  </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>[Сброс параметров]</legend>
                <div><button id="btn-reset-spin" class="btn-reset">Сбросить ежедневную лотерею</button></div>
                <div><button id="btn-reset-tutorial" class="btn-reset">Сбросить все туториалы</button></div>
                <div><button id="btn-reset-weekly" class="btn-reset">Сбросить этапы еженедельной лотереи</button></div>
            </fieldset>
            <fieldset>
                <legend>[Обнуление]</legend>
                <div><button id="btn-reset-user" class="btn-reset">Полное обнуление</button></div>
            </fieldset>
        </fieldset>
    </div>
    <div id="tabs-2">
        <div>Установить до уровня: <select id="slt-mission-id"></select></div>
        <div>Генерировать новый новый прогресс: <input type="checkbox" id="cbx-is-new-generate"></div>
        <div>Кол-во открытых звезд на каждой локации: <input type="text" id="txt-new-stars-counts" value="3"></div>
        <div>1. <button id="btn-generate-progress">Сгенерировать прогресс</button></div>
        <br/>
        <div>2. <button id="btn-save-progress" class="btn-save">Сохранить прогресс</button><button id="btn-reset-progress" class="btn-reset">Обнулить прогресс</button></div>
        <div id="progress"></div>
    </div>
    <div id="tabs-3">
        <fieldset>
            <legend>[Сброс параметров]</legend>
            <div><button id="reset-bought-transaction" class="btn-reset">Сброс информации о покупках</button></div>
            <div><button id="reset-send-gift" class="btn-reset">Сброс информации об отправленных подарках друзьям</button></div>
        </fieldset>
        <fieldset>
            <legend>[Социальный квест ВК]</legend>
            <div><input type="checkbox" id="cbx-quest-complete"><label for="cbx-quest-complete">Завершить социальный квест</label></div>
            <hr/>
            <div><input type="checkbox" id="cbx-quest-like"><label for="cbx-quest-like">Нажми "Мне нравиться"</label></div>
            <div><input type="checkbox" id="cbx-quest-shared"><label for="cbx-quest-shared">Расскажи об игре</label></div>
            <!-- <div><input type="checkbox" id="cbx-quest-group"><label for="cbx-quest-group">Вступи в группу</label></div> -->
            <!-- <div><input type="checkbox" id="cbx-quest-menu"><label for="cbx-quest-menu">Добавить игру в меню слева</label></div> -->
            <div><input type="checkbox" id="cbx-quest-invite"><label for="cbx-quest-invite">Приведи 1 друга в игру</label></div>
            <div><button id="save-social-quest-vk" class="btn-save">Сохранить</button></div>
        </fieldset>
    </div>
</div>
<div id="ajax-loader">
    <img src="/img/ajax-loader.gif" />
</div>
{% endblock %}
