{% extends "::base.html.twig" %}

{% block title %}Три котенка{% endblock %}

{% block meta %}
<meta name="description" content="Взрывай кубики, проходи увлекательные уровни, открывай новые острова и побей рекорды своих друзей! Помоги Анюте спасти своих котят от злого мага!" />
<meta name="keywords" content="Три котенка, помоги Анюте спасти котят" />
<meta property="og:title" content="Три котенка" />
<meta property="og:image" content="http://{{HOST}}/img/128.png?{{VERSION}}"/>
<meta property="og:url" content="http://odnoklassniki.ru/game/{{APP_ID}}?shareLink" />
<meta http-equiv="refresh" content="0; url=http://odnoklassniki.ru/game/{{APP_ID}}?shareLink" />
{% endblock %}

{% block body %}
Взрывай кубики, проходи увлекательные уровни, открывай новые острова и побей рекорды своих друзей!
Помоги Анюте спасти своих котят от злого мага!<br/>
<img src="{{asset('img/128.png')}}?{{VERSION}}" />
{% endblock %}
