* {margin: 0; padding: 0;}
body {padding: 0 10px;}
a {color: #467B9A;}

#actionsBlock {padding: 5px; margin-top: 5px; border: #CCC 1px solid;}

.quest-item #questId   {width: 40px;  min-width: 40px;}
.quest-item #levelFrom {width: 90px;  min-width: 90px;}
.quest-item #levelTo   {width: 90px;  min-width: 90px;}
.quest-item #awards    {width: 270px; min-width: 270px;}
.quest-item #move      {width: 110px; min-width: 110px;}
.quest-item #remove    {width: 80px;  min-width: 80px; text-align: right; border-right: none;}
.quest-item #dummy     {width: 12px; border-left: none !important;}

.quest-item #awards #awardList {width: 268px;}
.quest-item #levelFrom INPUT, .quest-item #levelTo INPUT {width: 70px; height: 22px;}

.quest-item #awards A {color: #467B9A;}
.quest-item #move A {color: #61599A;}
.quest-item #remove A {color: #A14958;}

#awardItem {width: 265px; border: #CCC 1px solid; padding: 2px;}
#awardItem SELECT {width: 125px;}
#awardItem INPUT {width: 50px;}
#awardItem A {color: #333 !important;}
#questItemTpl, #questAwardItemTpl {display: none;}

.quest-table, .quest-table-header {border-collapse: collapse; width: 743px; margin-top: 4px;}
.quest-table-header {border-left: #CCC 2px solid !important; width: 762px;}
.quest-table-header TH, .quest-table TD {border: #CCC 1px solid; padding: 2px;}
.quest-table-header TH {background: #F1F1F1; font-weight: normal;}
.quest-table TR {height: 28px;}
.quest-table TD {text-align: left; color: #333;}
.quest-table-container {height: 350px; width: 760px; overflow-y: scroll; border: #CCC 1px solid;}
.quest-table TR:nth-child(2n) TD {background: #EEE;}

/* эффект ссылки. подчеркнута после наведения */
.link-hovered {text-decoration: none; cursor: pointer;}
.link-hovered:hover {text-decoration: underline; cursor: pointer;}
.link-hovered-hover {text-decoration: underline; cursor: pointer;}

/* эффект ссылки. подчеркнута до наведения */
.link-inhovered {text-decoration: underline; cursor: pointer;}
.link-inhovered:hover {text-decoration: none; cursor: pointer;}
.link-inhovered-hover {text-decoration: none; cursor: pointer;}
