* {margin: 0; padding: 0;}
body {padding: 10px;}
a {color: #467B9A;}

#groupItemTpl, #splitItemTpl {display: none;}

.split-table, .split-table-header {border-collapse: collapse; width: 983px; margin-top: 4px;}
.split-table-header {border-left: #CCC 2px solid !important; width: 1000px;}
.split-table-header TH, .split-table TD {border: #CCC 1px solid; padding: 2px;}
.split-table-header TH {background: #F1F1F1; font-weight: normal;}
.split-table TR {height: 40px !important;}
.split-table TD {text-align: center; color: #333; font-size: 14px;}
.split-table-container {height: 600px; width: 1000px; overflow-y: scroll; border: #CCC 1px solid;}
/*.split-table TR:nth-child(2n) TD {background: #EEE;}*/

.split-group #groupId      {width: 35px;  min-width: 35px; text-align: left;}
.split-group #groupName    {width: 175px; min-width: 175px;}
.split-group #splits       {}
.split-group #startTime    {width: 70px;  min-width: 70px;}
.split-group #stopTime     {width: 70px;  min-width: 70px;}
.split-group #groupActions {width: 80px;  min-width: 80px; border-right: none;}
.split-group #dummy        {width: 12px; border-left: none !important;}
.split-group #groupName INPUT {width: 172px; height: 22px;}

.split-group #groupActions #startBtn {}
.split-group #groupActions #stopBtn {}
.split-group #groupActions #removeBtn {color: #A14958;}

/* ============= */
.split-items-table {border-collapse: collapse; width: 522px !important;}
.split-items-table THEAD TR {height: 22px !important;}
.split-items-table TR {height: 25px !important;}
.split-items-table TH, .split-items-table TD {font-weight: normal; font-size: 14px; border: #CCC 1px solid;}
.split-items-table TH {background: #E5E5E5;}

.split-item #splitId      {width: 33px; min-width: 33px; text-align: left; padding-left: 2px;}
.split-item #splitName    {}
.split-item #percent      {width: 60px; min-width: 60px;}
.split-item #copacity     {width: 50px; min-width: 50px;}
.split-item #settings     {width: 70px; min-width: 70px;}
.split-item #splitActions {width: 70px; min-width: 70px;}

.split-item #splitName INPUT {width: 99%; height: 18px;}
.split-item #percent   INPUT {width: 50px; min-width: 50px;}
.split-item #copacity  INPUT {width: 40px; min-width: 40px;}

/* эффект ссылки. подчеркнута после наведения */
.link-hovered {text-decoration: none; cursor: pointer;}
.link-hovered:hover {text-decoration: underline; cursor: pointer;}
.link-hovered-hover {text-decoration: underline; cursor: pointer;}

/* эффект ссылки. подчеркнута до наведения */
.link-inhovered {text-decoration: underline; cursor: pointer;}
.link-inhovered:hover {text-decoration: none; cursor: pointer;}
.link-inhovered-hover {text-decoration: none; cursor: pointer;}
