* { margin: 0; padding: 0; }
body { background-color: #FFF; }
#technicalWorks {background: #FFF url(/img/technical-works.png) no-repeat center center; width: 100%; height: 500px;}
#updateFlashBlock {background: #FFF no-repeat top center; display: none; height: 50px; padding-top: 385px; text-align: center;}
.border-radius-3 {border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.border-radius-5 {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
