{% extends "::base.html.twig" %}

{% block title %}AppGameBundle:SplitEditor:index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.4/themes/pepper-grinder/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/split-editor.css')}}" />
{% endblock %}
{% block jssrc %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{asset('js/split-editor.js')}}"></script>
{% endblock %}

{% block body %}
    <b>Редактирование списка сплитов:</b>
    <button id="addGroupBtn">Добавить группу</button>

    <table class="split-table-header" border="0" cellpadding="0" cellspacing="0">
    <thead>
        <tr class="split-group" valign="top">
            <th id="groupId">id</th>
            <th id="groupName">Название</th>
            <th id="splits">Сплиты</th>
            <th id="startTime" title="Время старта">Старт</th>
            <th id="stopTime" title="Время остановки">Стоп</th>
            <th id="groupActions">Действия</th>
            <th id="dummy">&nbsp;</th>
        </tr>
    </thead>
    </table>
    <div class="split-table-container">
        <table id="splitsTable" class="split-table" border="0" cellpadding="0" cellspacing="0">
            <tbody></tbody>
        </table>
    </div>

    {# шаблоны #}
    <div id="groupItemTpl">
        <table>
        <tbody>
            <tr class="split-group" valign="top">
                <td id="groupId">&nbsp;</td>
                <td id="groupName"><input type="text" maxlength="100" value="" /></td>
                <td id="splits">
                    <table class="split-items-table" border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr class="split-item" valign="top">
                            <th id="splitId">id</td>
                            <th id="splitName">Название</td>
                            <th id="percent">Процент</td>
                            <th id="copacity">Кол-во</td>
                            <th id="settings">Настройки</td>
                            <th id="splitActions"></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    </table>
                </td>
                <td id="startTime">-</td>
                <td id="stopTime">-</td>
                <td id="groupActions"></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div id="splitItemTpl">
        <table>
        <tbody>
        <tr class="split-item" valign="top">
            <td id="splitId">&nbsp;</td>
            <td id="splitName"><input type="text" maxlength="100" value="" /></td>
            <td id="percent"><input type="text" maxlength="3" value="0" /></td>
            <td id="copacity"><input type="text" maxlength="7" value="0" /></td>
            <td id="settings"></td>
            <td id="splitActions"></td>
        </tr>
        </tbody>
        </table>
    </div>

    <div id="ajaxLoader">
        <img src="{{asset('img/ajax-loader.gif')}}" />
    </div>
{% endblock %}
