{% extends "::base.html.twig" %}

{% block title %}Редактор игровых квестов{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/qeditor.css')}}" />
{% endblock %}
{% block jssrc %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{asset('js/qeditor.js')}}"></script>
{% endblock %}

{% block body %}
    <div id="questItemTpl">
        <table>
        <tr class="quest-item" valign="top">
            <td id="questId">&nbsp;</td>
            <td id="levelFrom"><input type="text" value="0" /></td>
            <td id="levelTo"><input type="text" value="0" /></td>
            <td id="awards">
                <div id="awardList"></div>
                <a href="#" class="link-hovered" title="Добавить награду">[добавить]</a>
            </td>
            <td id="move"><a href="#" class="link-hovered">Переместить[^]</a></td>
            <td id="remove"><a href="#" class="link-hovered">Удалить[x]</a></td>
        </tr>
        </table>
    </div>
    <div id="questAwardItemTpl">
        <div id="awardItem">
            <select id="type">
                <option value="0">Монеты</option>
                <option value="1">С.Бомба</option>
                <option value="2">С.Фейерверк</option>
            </select>
            <input id="count" value="0" />
            <a href="#" class="link-hovered">Удалить[x]</a>
        </div>
    </div>

    <div id="actionsBlock">
        <button onclick="saveQuests(this); return false;">Сохранить все</button>
    </div>

    <br/>
    <b>Активные квесты:</b>
    <a href="#" class="link-hovered" onclick="addNewQuest(); return false;">Добавить</a>
    {% set tableId="activeQuests" %}
    {% include "AppGameBundle:QuestEditor:table.html.twig" %}

    <hr/>
    <b>Неактивные квесты:</b>
    {% set tableId="inactiveQuests" %}
    {% include "AppGameBundle:QuestEditor:table.html.twig" %}
{% endblock %}
