<table class="quest-table-header" border="0" cellpadding="0" cellspacing="0">
<thead>
    <tr class="quest-item" valign="top">
        <th id="questId">id</th>
        <th id="levelFrom">Доступен с</th>
        <th id="levelTo">Дойти до</th>
        <th id="awards">Награды</th>
        <th id="move">&nbsp;</th>
        <th id="remove">&nbsp;</th>
        <th id="dummy">&nbsp;</th>
    </tr>
</thead>
</table>
<div class="quest-table-container">
    <table id="{{tableId}}" class="quest-table" border="0" cellpadding="0" cellspacing="0">
        <tbody></tbody>
    </table>
</div>